---
- name: Clone source code
  git: repo={{ app_git_repo }}
    version={{ app_git_branch }}
    dest={{ app_path }}
    accept_hostkey=yes
    force=yes

- name: Delete all .pyc files
  command: find . -name '*.pyc' -delete
  args:
    chdir: "{{ app_path }}"

- name: Install requirements.txt
  pip: requirements={{ app_path }}/requirements.txt
    virtualenv={{ app_virtualenv_path }}
  tags: packages

- pip: virtualenv={{ app_virtualenv_path }} name=Django version=1.8

- name: Copy settings_local.py
  template: src=settings_local.py
    dest={{ app_path }}/dc/settings_local.py
    owner={{ app_user }}
    group={{ app_group }}

- name: Create log directory
  file: path={{ app_log_path }} state=directory mode=0755

- name: Restart application
  supervisorctl: name={{ app_name }} state=restarted
